
/* Page Styles  ====== styled MOBILE first ======
============================================================= */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body  {
 height: 100% !important;
 margin:0 auto;
 padding: 0;
 width: 100%;
 max-width: 100%;
 background-image: url('../img/Paper-Grunge-Background-37.jpg');
 position: relative;
}

.content-row  {background-position: center;text-align: center;}
.content-row1  {background-position: center;}

body {
	font: normal .85em/1.0em Philosopher, sans-serif;
	color: #222;
	line-height: 1.5em;

}
.main-wrapper  {
		width: 100%;
		margin: 0 auto;
		height: auto;
		position: relative;
	}


.main-header-wrapper  {
		width: 100%;
		margin: 0 auto;
		min-height:50%;
		position: relative;
	}

.selected  {
	color:#add123 !important;
	font-size: 1.5em;
}

h2, h3  {padding-top:5px;margin:0 0;padding-bottom:0;margin-bottom:0;}

p  {padding-left:10px;padding-right: 10px; line-height: 1.5em;}

hr.styleez  {
	width:60%;
	border-top: medium double #222;
	text-align: center !important;
}

hr.stylee  {
	padding: 0;
	border: none;
	border-top: medium double #222;
	text-align: center;
	color: #222 !important;
}

#showcase a  {
	text-decoration: none;
	color:#5fcf80;
	background: #000;
	border-radius: 2px;
}
#showcase a:hover  {
	font: normal 1em/1.25em Philosopher, sans-serif;
	color: purple;
	background:#5fcf80;
	border-radius: 4px;
}

hr.stylee:after  {

	content: " Upcoming Workshops ";
	display: inline-block;
	position: relative;
	top: -0.45em;
	font-size: 1.5em;
	padding: 0 3px;
	border-radius: 5px;
	background: #fff;
	/*background: #dddcc1;*/
}

div #paper-scroll-bg  {
	
	/*background-image: url('../img/Paper-Grunge-Background-37.jpg');*/
	width: 100%;
	margin: 0 auto;
	line-height: 20px;
	letter-spacing: 1px;
	font: normal .85em/1.0em Philosopher, sans-serif;
	height:100%;
	bottom: 0;
	position: relative;
	text-align: center;
	padding: 20px;
}
div #paper-scroll-bg h1 {line-height: 1.25em;}


#paper-scroll-bg, .content-row, .main-wrapper  {padding-bottom: 0;}

/* Layout Element Colors	(Basic Mobile Markup)
========================================================= */

.main-header       { background-color: #000; }
.main-logo a       { background-color: #5fcf80; }
.main-nav a       { background-color: #000; }
.secondary-content { background-color: #bfe3d0; }



/* Header, Banner, Footer, Nav table-layout: (Basic Mobile Markup)
=============================================================== */

.main-header  {
	width:100%;
	min-height: 100px;
	padding: 15px;
	overflow: hidden;
	position: inherit;
	
}

.main-logo  {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 175px;
	max-height: 175px;
	display:block;
	box-shadow: 5px 5px #add123;
	float: right;
	top: 0;
	left: 0;
}

.main-nav   {
	float: right;
}
.main-nav li  {
	margin-top: 5px;
	margin-bottom: 0;
	float:left;
	
}

.main-nav  {
	bottom: 0;
	right: 10px;
}
.main-logo a  {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	float: right;
	padding: 3px
}

.main-nav a, .main-nav li, .main-nav {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	float: left;
	padding: 3px;

}

.button  {	
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 8px 15px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	background-color: brown;
	margin-bottom: 10px;
	margin-top: 0px;
}

footer  {
	font-size: 1em;
	padding-top: 0px;
	margin: 0 auto;
	top: 0;
	right:0;
	padding-right: 10px;
	width:100%;
	height: 40px;
	float: right;
	position: absolute;
	color: #000;
	display: block;	
}

footer .wkshp {
	font-size: 1em;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0 auto;
	top: 0;
	right:0;
	padding-right: 10px;
	width:100%;
	height: 40px;
	float: right;
	position: absolute;
	color: #000;
	display: block;
	background-color: #fff;	
}

.main-footer  {
		display: inline-block;
		font-size: 1em;
		padding-top: 0px;
		margin-top: 0px;
		bottom: 0;
		width: 100%;
		min-height: 100px;
		position: relative;
		color: #000;	
}
footer .main-footer p  {
	padding: 0;
	float: right;
}

.title-heading  {
	text-align: center;
	font-size: 1.25em;
	line-height: 1.65em;
}

.contact-icons  {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	float: left;
	padding: 10px 10px;
	margin-top: 2em;
}

.contact-icons-text  {
	display: inline-block;
	margin: 0 auto;
	color: #000;
	text-decoration: none;
	text-align: center;
	float: left;
	padding: 10px 10px;
	font-weight: 600;

}


/* Column layout: (Basic Mobile Markup)
================================================ */

.primary-content  {
		
		width: 85%;
		height:auto;
		bottom: 0;
		margin: 0 auto;
		position: relative;
		text-align: center;
		left: 0;
		color: #000;
			
	}

.wkshp-primary-content  {
		width: 75%;
		height:auto;
		margin: 0 auto;
		position: relative;
		left: 0;
		bottom: 0;
		color: #000;
		padding: 2em;
		
	}


.col  {
	padding: 20px 20px 0 20px;
	/*padding-bottom: 100px;*/
	height:100%;
}

.col3  {
	padding: 10px 10px 0 10px;
	height:100%;
}

/*.col:last-child  {margin-bottom: 50px;}*/

.extra-content {
	display: none;
	padding-bottom: 100px;
}

/* Imagery  (Basic Mobile Markup)
================================ */

.feat-image  {
	width: 100%;
	height: auto;
	margin-top: 10px; 
	margin-bottom: 10px;
	border: solid 1px;
	padding: 5px;
}


img #foetoe .feat-image  {
		width:100%;
		float: left;
		border-color: #add123;
	}


.feat-banner  {
		width: 100%;
		min-height: 250px;
		background-color: #000;

}


.main-banner h2, .main-banner h3    {
	color: #add123;
	text-align: center;
	padding: 5px;
	vertical-align-bottom: 0;
	position: relative;
	display: table;
	margin: 0 auto;
}
.feat-banner-image  {
		width: 100%;
		height: auto;
		display: block;
		border-color: #add123;
	}

#showcase1  {
	min-height: 28em;
	border-style: double;
	border-color: #add123;
	margin-bottom: 0;
	position: relative;
}

#showcase, #showcase-wkshp  {
	min-height: 13em;
	border-style: double;
	border-color: #add123;
	margin-bottom: 0;
	position: relative;
}

.footer-banner  {
	margin: 0 auto;
	text-align: center;
	text-shadow: 1px 1px #000;
	background-image: url("../img/Rusty-Metal-Background-47.jpg");
	z-index: -100;
	width: 100%;
	min-height: 300px;
	color: #add123;
	padding-top: 1em;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.1em;
	margin-top: 0em; 
	overflow: hidden;
}


.posters  {
	padding:5px;
	width:19.5%;
	float: left;
	height:20em;
	top: 0;
	margin: 0 auto;
	position: relative;
	margin: .25%;
	margin-bottom: 2%;
}
.posters:last-child  {
	float: right;
}


/*============  Float Clearfix  ============*/

.group::after  {
	content: " ";
	display: table;
	clear:both;
}




/*
//#%#%#%#%#%#%#%######################
// Modal     #########################--------------------------------------------------
%#%#%#%#%#%#%#%#%#%#%#%#%#%#%#%#%#%#*/

.modalDialog {
  position: fixed;
  font: normal 1.0em/1.5em Philosopher, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
	  width: 280px;
	  position: relative;
	  margin: 0 auto;
	  padding: 5px 10px 5px 10px;
	  border-radius: 10px;
	  background: #fff;
	  background: -moz-linear-gradient(#fff, #999);
	  background: -webkit-linear-gradient(#fff, #999);
	  background: -o-linear-gradient(#fff, #999);
}

.modalDialog > div > img  {
	  width: 250px;
	  position: relative;
	  margin: 0 auto;
	  padding: 5px 10px 5px 10px;
	  border-radius: 10px;
	  background: #fff;
	  background: -moz-linear-gradient(#fff, #999);
	  background: -webkit-linear-gradient(#fff, #999);
	  background: -o-linear-gradient(#fff, #999);
}

.modalDialog > div > h4, .modalDialog > div > h4 > p  {
	margin:0;
}

.close {
  background: #424242;
  color: #FFFFFF;
  line-height: 25px;
  position: relative;
  left: 12px;
  text-align: center;
  top: 0;
  width: 30px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #a6b4a9; }



/*#%#%#%#%#%#%#% Modal Extras %#%#%#%#%#%#%*/

.col3.modal-1a  {
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 1em;
	margin-right: 0;

}

.col3.modal-1b  {
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 1em;
	margin-right: 0;
}

.col3.modal-1c  {

		width:auto;
		height:100%;
		margin:2em auto;
		
		
	} 
/*
//+++++++++++++++++++++++
// Modal Btn ------------------------------------------------------------------
// ++++++++++++++++++++++
*/
.btn  {
  background: #8FBFA0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 0;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 2s ease;
 /* top: 40em;*/
}  
.btn1  {
  background: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 0;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 2s ease;
 /* top: 40em;*/
}  
.btn-wkshp  {
  background: #8FBFA0;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 3s ease;
  transition: color 3s ease;
  color:white;
  /* top: 40em;*/
  
}  

  .btn:hover, .btn1:hover  {
    background: #a6b4a9;
    color:white;
}
 
 .btn-wkshp:hover  {
    background: #a6b4a9;
    color:#ddd;
} 

  .btn:hover.btn-big, .btn1:hover.btn-big  {
    font-size: 14px;
    padding: 4px 4px;
    min-width: 60px;
}

  .btn-wkshp:hover.btn-big  {
    font-size: 14px;
    padding: 8px 8px;
    min-width: 60px;
}

.btn-wkshp:last-child  {
	margin:0;
	padding: 0;
	float: right;
}


 .modal-1c, a#open-toadal, img#upcoming-poster  {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	display: table; 
}

/*===========================================================
 Media Queries *|* Larger Devices and Desktops/Laptops	--------------------------------
============================================================= */


@media screen and (max-width: 360px)  {

	.col3.modal-1c  {
		width:auto;
		height:100%;
		margin:0 auto;
		padding: 0 10% 0 10%;
		
	} 
	img#upcoming-poster  {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	display: table;
	margin-left: -3em;
	padding: 0;
	}
	
	.btn  {
		padding:0;
	}

}


@media screen  and (max-width: 479px)  {

	.col3.modal-1c  {
		width:auto;
		height:100%;
		padding-right: 5%;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 2em;
		margin-top: 2em;
		
	} 
	.btn1  {
	  background: none;
	}

}


@media screen and (min-width: 480px)  {
	body {
		font: normal 1.0em/1.5em Philosopher, sans-serif;
		color: #222;
	}


	.footer-banner  {
		min-height: 325px;
		margin-top: 0px;
	}
	
	.modalDialog > div {
	  width: 400px;
	}

	.modalDialog > div > img  {
	  width: 380px;
	  
	}

	.col3.modal-1b  {

	}
	.col3.modal-1c  {
		width:auto;
		height:100%;
		padding-right: 5%;
		margin-left: 33%;
		margin-right: 33%;
		margin-bottom: 2em;
		margin-top: 2em;
		
	}
	.btn1  {
	  background: none;
	}
	
}


@media screen and (min-width: 815px)  {
	
	.main-wrapper  {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.footer-banner  {
		min-height: 300px;
		margin-top: 0px;
	}

	.modal-responsive .close {
		font: normal 1.25em/1.75em Philosopher, sans-serif;
	}

	/*%%%%%%%%  Header and Banner  %%%%%%%%*/

	.main-logo  {
		float:right;
		display: block;
		max-width: 175px;
		max-height: 175px;
		box-shadow: 5px 5px #add123;
	}
	.main-nav li  {
		margin-left:  5px;
		float: left;
	}
	
	.main-nav li  {
		float: left;
	}
	.main-nav  {
		float: right;
	}
	
	

	/*%%%%%%%%%%%%%  Column layout  %%%%%%%%%%%%%%*/

	.extra-content.col  {
		float: left;
		width: 24%;
		height:100%;
		bottom: 0;
		position: relative;
		padding-bottom: 100px;
	}

	.col  {
		float: left;
		width: 48%;
		height:100%;
		top: 0;
		position: relative;
		margin: .25%;
		padding-bottom: 100px;
	}

	.col3  {
		float: left;
		width: 31%;
		height:100%;
		top: 0;
		position: relative;
		margin: 0;
		margin-left: 0;
		margin-right: 0; 
	}

	.col3.modal-1c  {
		width:auto;
		height:100%;
		padding-top: 10px;
		margin-top: 2em;
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
		margin-left: 1em;

		
	
/*		
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 2em;
		margin: 2em 50%;
*/
	} 

	

	.primary-content  {
		float:none;
		width: 85%;
		height:100%;
		bottom: 0;
		margin: 0 auto;
		position: relative;
		text-align: center;
		left: 0;
		padding-bottom: 50px;
		margin-bottom: -40px;
	}

	.wkshp-primary-content  {
		width: 75%;
		margin: 0 auto;
		position: relative;
		bottom: 0;
		left: 0;
		padding-bottom: 50px;
		margin-bottom: -40px;
}



	.col:last-child  {
		float: right;
	}
	.col3.modal-1c:last-child  {
		margin-right:1.5em;

	}
	.col3:last-child  {
		float: right;
		margin-right: 1em;
		padding-right: 0;
		padding-left: 0;
		margin-left: 0;
	}

	.extra-content  {
		display: none;  /* UnHide from Mobile view */
	}

	div #paper-scroll-bg {
		width:75%;
	}

	.modalDialog > div {
	  	width: 640px;
	}

	.modalDialog > div > img  {
	  width: 590px;
	  padding: 5px 5px 5px 0;
	  
	}

	/*%%%%%%%%%%%%%%%%  Imagery  %%%%%%%%%%%%%%%%%*/

	img#upcoming-poster  {
		float: none;
		padding-left: 1em;
		padding-right: 0;
		margin-left: 1em;
		margin-right: 0;
	}
	 .btn .btn-big a #open-toadal {
		background-color: none !important;

	}
	.btn1  {
	  background: none;
	}
	.btn1:hover  {
	  background: none;
	  
	}
}


/*o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o
0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0*/



@media screen and (min-width: 1080px)  {


	/*%%%%%%%%  Header and Banner and Footer %%%%%%%%*/
	.main-nav, 
	.main-logo  {
		position: relative;
	}
	
	.main-nav li  {
		float: left;
	}
	.main-nav  {
		float: right;
	}
	.main-logo  {
		float: right;
		margin-right: 50px;
		min-width: 100px;
		display: block;
		box-shadow: 5px 5px #add123;
	}
	
	.main-nav li  {
		margin-right: 5px;
		display: inline-block;
	}
	
	.btn .btn-big {
		font: normal 2em/3em Philosopher, sans-serif;
	}
	.btn-wkshp .btn-big {
		font: normal 2em/3em Philosopher, sans-serif;
	}
	.btn-wkshp .btn-big:last-child  {
		margin: 0 auto;
		float: right;
	}
	.btn1  {
	  background: none;
	}

	/*%%%%%%%%%%%%%  Column layout  %%%%%%%%%%%%%%*/

	.extra-content.col  {
		float: left;
		width: 19.5%;
		height:100%;
		bottom: 0;
		position: relative;
		padding-bottom: 100px;
	}

	.col  {
		float: left;
		width: 23%;
		height:100%;
		bottom: 0;
		margin: 0 auto;
		position: relative;
		padding-bottom: 100px;
	}
	.primary-content  {
		width: 66%;
		height:100%;
		bottom: 0;
		margin: 0 auto;
		position: relative;
		text-align: center;
		padding-left: 0;
		padding-bottom: 30px;
		margin-bottom: 0px;
	}

	.wkshp-primary-content  {
		width: 66%;
		height:100%;
		bottom: 0;
		margin: 0 auto;
		position: relative;
		padding-left: 2em;
		padding-bottom: 30px;
		margin-bottom: 0px;
	}

	.col:last-child  {
		float: right;
	}

	.col3.modal-1c:last-child  {
		margin-right: 4.5em;
	}

	.col3.modal-1b:last-child  {
		float: right;
		margin:0;
		padding: 0;

	}

	.extra-content,
	.main-banner  {
		display: block;  /* UnHide from Mobile view */
		margin: 0;
	}
	.col3  {
		float: left;
		width: 31.75%;
		height:100%;
		bottom: 0;
		position: relative;
		padding-left: 20px;

	}

	.col3 .modal-1b  {
		padding-right: 0em;

	}

	.col3.modal-1c   {
		padding-left: 3%;
	}

	#showcase1  {
		min-height: 27em;
	}

	a img #upcoming-poster  {
		margin-left:0;
		margin-right:10em;
		padding-right: 20px;

	}

	.col3:last-child  {
		float: right;
		margin-left: -4em;
		margin-right:-1em;
	}

	
	div #paper-scroll-bg  {
		width:85%;
		margin: 0 auto;
	}

	

	/*%%%%%%%%%%%%%%%%  Float Clearfix  %%%%%%%%%%%%%%%%%*/

	.group::after  {
		content: " ";
		display: table;
		clear:both;
	}


	/*%%%%%%%%%%%%%%%%  Imagery  %%%%%%%%%%%%%%%%%*/

	.feat-image  {
		width: 50%;
		margin:25px;
		padding:5px;
		float: left;
		border-color: #add123;
		margin-bottom: 0;
	}

}

@media screen and ( min-width: 1580px )  {

	.main-wrapper  {
		width: 100%;
		margin: 0 auto;
	}

	.feat-banner  {
		width:100%;
		background-color: #000;
	}
	.feat-banner-image  {
		width: 85%;
		display: block;
		background-position: center center;
		margin: 0 auto;
	}
	.primary-content  {
		width: 66%;
		height:100%;
		bottom: 0;
		margin: 0 auto;
		position: relative;
		text-align: center;
		padding-bottom: 30px;
		margin-bottom: 0px;
		border-radius: 10px;
	}

.wkshp-primary-content  {
		width: 50%;
		height:auto;
		bottom: 0;
		margin: 0 auto;
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 0px;
		border-radius: 10px;
	}

	.col3:last-child  {
		float: right;
		margin-left: -4em;
		margin-right: 2em;
	}

	#showcase  {
		margin-bottom: 0;
	}

	div #paper-scroll-bg {
		width:66%;
	}

	.col3.modal-1c {
		padding-left: 10%;
	}
	.col3.modal-1c:last-child  {
		margin-right: 10em;
	}
	.btn1  {
	  background: none;
	}
}

/*@#@#@#@##@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#
@#@#@@#@#@#@#@##   Animations   #@#@#@#@#@@#@
@#@#@#@#@#@#@#@#@#@#@#@#@2#@#@#@#@#@#@#@#@#@*/


/* Footer Wrapper */ 
  @-moz-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
  @-webkit-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
  @-o-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
  @-ms-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
  @keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }

  #footwrap {
    -moz-animation: footwrap 3s reverse;
    -webkit-animation: footwrap 3s reverse;
    -o-animation: footwrap 3s reverse;
    -ms-animation: footwrap 3s reverse;
    animation: footwrap 3s reverse;
    opacity: 0;
  }

  /* @#@#@#@#@#@#@#@ Footer Banner Animation @#@#@#@#@#@#@ */
/*
  	.container  {
  		position: absolute;
  		width: 100%;
  		max-width: 100%;
 		margin: 0 auto;
 		padding: 0 20px;
  		box-sizing: border-box; 
  	}
*/
	.bg  {
		-moz-animation: bg 60s linear infinite;
		-webkit-animation: bg 60s linear infinite;
		-o-animation: bg 60s linear infinite;
		-ms-animation: bg 60s linear infinite;
		animation: bg 60s linear infinite;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		/* Set your background with this */
		background: url("../img/soundmusicy.jpg");
		background-repeat: repeat-x;
		height:10em;
		max-width: 100%
		left: 0;
		opacity: 1;
		position: relative;
		bottom: 0px;
		margin-top: 1.5em;
		margin-bottom: 1em;
		padding: 0px;
		
	}

	@-moz-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
	@-webkit-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
	@-o-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
	@-ms-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
	@keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }

	.bg {
		background-size: auto 100%;
		width: 6750px;
		overflow-x: hidden !important;
	}

	  @-moz-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
	  @-webkit-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
	  @-o-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
	  @-ms-keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }
	  @keyframes footwrap { 100% { opacity: 1; } 0% { opacity: 0; } }

	  #footwrap {
	    -moz-animation: footwrap 3s reverse;
	    -webkit-animation: footwrap 3s reverse;
	    -o-animation: footwrap 3s reverse;
	    -ms-animation: footwrap 3s reverse;
	    animation: footwrap 3s reverse;
	    opacity: 0;
	}

